<!DOCTYPE html>
<html>
<head>
  <meta charset="ISO-8859-1">
  <title>Registro</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>
<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar" aria-expanded="false"

              aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span> <span
              class="icon-bar"></span> <span class="icon-bar"></span> <span
              class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" th:href="@{/}">Registro e inicio de sesi&oacuten</a>
    </div>
  </div>
</nav>

<br>
<br>
<!-- Create HTML registration form -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <!-- success message -->
      <div th:if="${param.success}">
        <div class="alert alert-success">Registrado correctamente</div>
      </div>
      <div th:if="${param.existe}">
        <div class="alert alert-danger">El DNI introducido ya existe</div>
      </div>
      <div th:if="${param.dni}">
        <div class="alert alert-danger">El n&uacute;mero de DNI introducido no es v&aacute;lido.</div>
      </div>
      <div th:if="${param.mail}">
        <div class="alert alert-danger">El email introducido no es v&aacute;lido.</div>
      </div>

      <h1>Registro</h1>

      <form th:action="@{/registration}" method="post" th:object="${user}">
        <div class="form-group">
          <label class="control-label" for="username"> DNI </label>
          <input id="username" class="form-control" th:field="${user.username}"
                 required autofocus="autofocus" />
        </div>


        <div class="form-group">
          <label class="control-label" for="password"> Contrase&ntilde;a </label> <input
                id="password" class="form-control" type="password"
                th:field="${user.pass}" required autofocus="autofocus" />
        </div>


        <div class="form-group">
          <label class="control-label" for="email"> Correo </label>
          <input id="email" class="form-control" th:field="${user.email}"
                 required autofocus="autofocus" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Registrarse</button>
          <span>Si ya estas registrado <a href="/" th:href="@{/login}">Inicia sesi&oacuten aqu&iacute;</a></span>
        </div>


      </form>
    </div>
  </div>
</div>
</body>
</html>