<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div class="container">
    <h3 style="text-align: center; color: #3f7320;">Informaci&oacute;n:</h3>

    <p>El Coronavirus o COVID-19 es una enfermedad infecciosa causada por el SARS-CoV-2.
        Produce unos s&iacute;ntomas similares a los de una gripe o catarro, entre los que incluye fiebre,
        tos, dificultad respiratoria, dolor muscular y fatiga. En casos graves&nbsp;produce neumon&iacute;as y
        dificultades respiratorias agudas, lo que puede llegar a causar la&nbsp;muerte. A día de hoy no tiene
        cura pero ya se empieza a inmunizar a la población gracias a la vacunación masiva.</p>

    <p><img src="https://ec.europa.eu/eurostat/documents/10760954/10762597/COVID_overview_image.jpg/5eae3b08-6981-e979-5edb-a71bedb2c379?t=1587976128000" alt="Covid" width="300" height="150" style="display: block; margin-left: auto; margin-right: auto;" /></p>

    <h3 style="text-align: center; color: #3f7320;">Enlaces:</h3>

    <p><a href="https://www.ine.es/covid/covid_inicio.htm" target="_blank" rel="noopener">Instituto Nacional de Estadística</a>&nbsp;</p>
    <p><a href="https://www.mscbs.gob.es/profesionales/saludPublica/ccayes/alertasActual/nCov/situacionActual.htm" target="_blank" rel="noopener">Ministerio de Sanidad</a>&nbsp;</p>
    <p><a href="https://www.who.int/es/news-room/fact-sheets/detail/middle-east-respiratory-syndrome-coronavirus-(mers-cov)" target="_blank" rel="noopener">Organización Mundial de la Salud (Explicación COVID)</a>&nbsp;</p>
    <p><a href="https://covid19.who.int/" target="_blank" rel="noopener">Organización Mundial de la Salud (Casos a nivel mundial)</a>&nbsp;</p>

</div>



</body>
</html>
